<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="baseDir">/opt/log/web/log/abbra-api</Property>
	</Properties>
	<Appenders>
	
		<Console name="LogConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
		</Console>

		<RollingFile name="LogINITIAL" fileName="${baseDir}/INITIAL.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/INITIAL-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogSubmitterIdLogUtil" fileName="${baseDir}/SubmitterIdLogUtil.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/SubmitterIdLogUtil-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS},[%t],%msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogFILTER" fileName="${baseDir}/FILTER.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/FILTER-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogLoginServlet" fileName="${baseDir}/LoginServlet.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/LoginServlet-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogAuthenticationWS" fileName="${baseDir}/AuthenticationWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/AuthenticationWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="LogAboutUsWS" fileName="${baseDir}/AboutUsWSl.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/AboutUsWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		<RollingFile name="LogUTIL" fileName="${baseDir}/LogUTIL.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/LogUTIL-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>

		<RollingFile name="LogSelectitemWS" fileName="${baseDir}/SelectitemWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/SelectitemWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogDepartmentWS" fileName="${baseDir}/DepartmentWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/DepartmentWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogEmployeeWS" fileName="${baseDir}/EmployeeWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/EmployeeWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogHomeWS" fileName="${baseDir}/HomeWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/HomeWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogActivityWS" fileName="${baseDir}/ActivityWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/ActivityWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogAnnounceWS" fileName="${baseDir}/AnnounceWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/AnnounceWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogReferenceWS" fileName="${baseDir}/ReferenceWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/ReferenceWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogCultureWS" fileName="${baseDir}/CultureWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/CultureWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogAdminAnnounceWS" fileName="${baseDir}/AdminAnnounceWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/AdminAnnounceWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogAdminDepAnnounceWS" fileName="${baseDir}/AdminDepAnnounceWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/AdminDepAnnounceWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
		<RollingFile name="LogAdminVdoAnnounceWS" fileName="${baseDir}/AdminVdoAnnounceWS.log"
			filePattern="${baseDir}/&#36;&#36;{date:yyyy-MM}/AdminVdoAnnounceWS-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] (%F:%L) %M %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="50">
				<Delete basePath="${baseDir}" maxDepth="3">
					<IfFileName glob="*/*.log">
						<IfLastModified age="1d" />
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
		
	</Appenders>
	
	<Loggers>

		<Logger name="AuthenticationWS" level="DEBUG">
			<AppenderRef ref="LogAuthenticationWS" />
		</Logger>
		
		<Logger name="LoginServlet" level="DEBUG">
			<AppenderRef ref="LogLoginServlet" />
		</Logger>
		
		<Logger name="FILTER" level="DEBUG">
			<AppenderRef ref="LogFILTER" />
		</Logger>

		<Logger name="SubmitterIdLogUtil" level="DEBUG">
			<AppenderRef ref="LogSubmitterIdLogUtil" />
		</Logger>
		
		<Logger name="INITIAL" level="DEBUG">
			<AppenderRef ref="LogINITIAL" />
		</Logger>
		
		<Logger name="UTIL" level="DEBUG">
			<AppenderRef ref="LogUTIL" />
		</Logger>
		
		<Logger name="SelectitemWS" level="DEBUG">
			<AppenderRef ref="LogSelectitemWS" />
		</Logger>
		
		<Logger name="AboutUsWS" level="DEBUG">
			<AppenderRef ref="LogAboutUsWS" />
		</Logger>
		
		<Logger name="DepartmentWS" level="DEBUG">
			<AppenderRef ref="LogDepartmentWS" />
		</Logger>
		
		<Logger name="EmployeeWS" level="DEBUG">
			<AppenderRef ref="LogEmployeeWS" />
		</Logger>
		
		<Logger name="HomeWS" level="DEBUG">
			<AppenderRef ref="LogHomeWS" />
		</Logger>
		
		<Logger name="ActivityWS" level="DEBUG">
			<AppenderRef ref="LogActivityWS" />
		</Logger>
		
		<Logger name="AnnounceWS" level="DEBUG">
			<AppenderRef ref="LogAnnounceWS" />
		</Logger>
		
		<Logger name="ReferenceWS" level="DEBUG">
			<AppenderRef ref="LogReferenceWS" />
		</Logger>
		
		<Logger name="CultureWS" level="DEBUG">
			<AppenderRef ref="LogCultureWS" />
		</Logger>
		
		<Logger name="AdminAnnounceWS" level="DEBUG">
			<AppenderRef ref="LogAdminAnnounceWS" />
		</Logger>
		
		<Logger name="AdminDepAnnounceWS" level="DEBUG">
			<AppenderRef ref="LogAdminDepAnnounceWS" />
		</Logger>
		
		<Logger name="AdminVdoAnnounceWS" level="DEBUG">
			<AppenderRef ref="LogAdminVdoAnnounceWS" />
		</Logger>
		
		<Root level="DEBUG">
			<AppenderRef ref="LogConsole" />
		</Root>
	</Loggers>
</Configuration>
